<section class="chat">
  <header class="chat-header bg-gray-50 dark:bg-gray-700 flex justify-between items-center p-4">
    <div class="text-xl">
      @if(this.options()?.type == 'condominium'){
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-building"></i>
          <div class="flex flex-col gap-0 items-start">
            <p>{{ this.options()?.condominium?.name }}</p>
            <span class="text-xs text-gray-500 dark:text-gray-400 block">({{ this.options()?.condominium?.address }})</span>
          </div>
        </div>
      }@else{
        <i class="fa-solid fa-user"></i> {{ this.options()?.user?.name }}
      }
    </div>

    @if(summarizing() == true && !isThereSummaryResult()){
      <div class="flex justify-center items-center gap-2">
        <p-button icon="pi pi-cog" styleClass="animate-[spin_3s_linear_infinite]" [rounded]="true" size="small"/>
        <label class="text-xs">Resumiendo...</label>
        <div class="flex justify-end items-start">
          <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" size="small"  (onClick)="cancelSummary()"/>
        </div>
      </div>
    }@else if(!summarizing() && !isThereSummaryResult()){
      <p-button icon="pi pi-book" [rounded]="true" label="Resumir" (onClick)="summarizeMessages()" size="small"/>
    }@else if(isThereSummaryResult() && summaryResult()?.content){
      <p-button icon="pi pi-eye" [rounded]="true" label="Ver resumen" (onClick)="showSummaryResult()" size="small"/>
    }
  </header>
  <section class="chat-content bg-white scroll-invisible w-full flex flex-col gap-4">
        <div class="chat-content bg-white scroll-invisible w-full flex flex-col gap-4 ">
        <app-chat-buble
          *ngFor="let message of messages()"
          [message]="message"
        ></app-chat-buble></div>
  </section>
  <app-chat-box> </app-chat-box>
</section>
@if(isThereSummaryResult() && showSummary && summaryResult()?.content){
  <p-dialog header="Resumen" [modal]="true" [(visible)]="showSummary" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
  <ul>
    <li *ngFor="let item of formatSummary()">{{ item }}</li>
  </ul>
</p-dialog>
}
<p-toast/>
