  <p-header styleClass="w-full flex justify-between p-1">
      <core-user-options/>
  </p-header>

  <div class="flex-1 bg-gray-900 h-svh">
    @if(showChatDrawer()){
      <shared-chats-drawer (onCondominiumSelected)="onCondominiumSelected($event)"/>
    }
    <!--TODO: Add the same logic here when working with individual user chat-->
    @if(!currentCondominium && showChatDrawer()){
      <section class="bg-gray-50 h-full w-full">
        <div class="flex justify-center items-center h-full">
          <p class="text-sm lg:text-lg text-gray-400 text-center">Selecciona un condominio o un contacto para comenzar a chatear</p>
        </div>
      </section>
    }@else{
      <ng-content></ng-content>
    }
  </div>

 <!-- <p-dialog header="Notificaciones" [modal]="true" [(visible)]="showNotifications" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <div class="w-50 p-5">
      <div *ngFor="let notification of notifications" class="mb-3">
        <div class="flex items-center space-x-2">
          <i class="pi pi-bell text-red-500"></i>
          <p class="text-sm">{{ notification.message }}</p>
        </div>
        <span class="text-xs text-gray-400">{{ notification.time }}</span>
      </div>
    </div>
  </p-dialog>-->

