<p-toolbar styleClass="w-full flex justify-between p-1">
  <ng-template #start>
    <div class="flex justify-start items-center gap-6">
      <img
        ngSrc="images/condominiumAlertsLogo.jpg"
        alt="Condominium Alerts Logo"
        width="55"
        height="55"
      />
      <p class="text-lg font-bold m-0">{{ getLoggedUsername() }}</p>
    </div>
  </ng-template>
  <ng-template #end>
    <a (click)="goHome()" class="font-bold">
      <p-button
        label="logOut"
        icon="pi pi-sign-out"
        class="mr-2"
        severity="danger"
      />
    </a>
  </ng-template>
</p-toolbar>

<div class="flex container-height">
  <div class="w-52 bg-gray-800 text-white p-5">
    <div class="text-lg font-semibold mb-4 text-center border-b pb-4 border-cyan-400">
      Condominios
    </div>
    <div
      *ngFor="let condominium of condominiums$ | async"
      class="flex items-center space-x-3 cursor-pointer p-3 rounded-lg transition-all duration-200"
      [ngClass]="{ 'bg-gray-700': currentCondominium?.id === condominium.id }"
      (click)="onCondominiumSelected(condominium)">
      <img
        [ngSrc]="condominium.imageUrl"
        alt="Condominium Profile picture"
        width="40"
        height="40"
        class="rounded-full"
      />
      <div class="flex flex-col">
        <p class="font-semibold">{{ condominium.name | titlecase }}</p>
        <p class="text-sm text-gray-400">{{ condominium.address | titlecase }}</p>
      </div>
    </div>
    <div class="text-lg font-semibold mb-4 text-center border-b pb-4 border-cyan-400">
      Contactos
    </div>
    <!--<div
      *ngFor="let user of users"
      class="flex items-center space-x-3 cursor-pointer p-3 rounded-lg transition-all duration-200"
      [ngClass]="{ 'bg-gray-700': currentUser?.id === user.id }"
      (click)="goToChat(user)"
    >
      <img
        [ngSrc]="user.profilePictureUrl"
        alt="User Profile picture"
        width="40"
        height="40"
        class="rounded-full"
      />
      <div class="flex flex-col">
        <p class="font-semibold">{{ user.fullName }}</p>
        <p class="text-sm text-gray-400">{{ user.email }}</p>
      </div>
    </div>-->
  </div>

  <div class="flex-1 bg-gray-900 p-5">
    <ng-content></ng-content>
  </div>

  <div class="w-50 bg-gray-800 text-white p-5">
    <div class="text-lg font-semibold mb-5">Notifications</div>
    <div *ngFor="let notification of notifications" class="mb-3">
      <div class="flex items-center space-x-2">
        <i class="pi pi-bell text-red-500"></i>
        <p class="text-sm">{{ notification.message }}</p>
      </div>
      <span class="text-xs text-gray-400">{{ notification.time }}</span>
    </div>
  </div>
</div>
